@using GM.Models;

<tr>
    @if (CurrentItem.IsExpire)
    {
        <td class="alert-info">@CurrentItem.Name</td>
    }
    else
    {
        <td>@CurrentItem.Name</td>
    }
    <td>@CurrentItem.CreatedOn</td>
    @if (CurrentItem.IsExpire)
    {
        <td>@CurrentItem.ExpireOn</td>
    }
    else
    {
        <td><button @onclick="MarkAsExpired">Mark as Expired</button></td>
    }
    <td><button @onclick="Delete">Delete</button></td>
</tr>

@code {
    [Parameter]
    public Grocery CurrentItem { get; set; }
    [Parameter]
    public Action Delete { get; set; }
    [Parameter]
    public Action MarkAsExpired { get; set; }
    [Parameter]
    public Action SortByExpiredOn { get; set; }
}
